.DivMain {
    background-color: #F5F5F5;
}

.Container {
    min-width: 992px;
}

.DivOuter {
    width: 60vmax;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}

.DivWybankuj {
    border-top: 1px solid #BF4042;
    border-bottom: 1px solid #BF4042;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
}

.H3Simulation {
    text-align: center;
    font-weight: bold;
    /*color: black;*/
    color: #BF4042;
    margin-bottom: 2%;
}

.LinkSimulation {
    text-underline: none;
    text-decoration-line: none;
    color: #FFFFFF;
    font-size: 3vmax;
    text-align: center;
}

.LinkSimulation:hover {
    text-underline: none;
    text-decoration-line: none;
    color: #FFFFFF;
    font-size: 3vmax;
    text-align: center;
}

.pSimulation {
    text-align: center;
}

.DivSimulationLeft {
    width: 20vmax;
    height: 15vmax;
    background-color: #19364D;
    border: 1px solid black;
    float: left;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 0.5rem 1rem 1rem;
    margin-bottom: 1.5rem;
    text-underline: none;
    text-decoration-line: none;
    color: #FFFFFF;
    font-size: 2.5vmax;
    text-align: center;
    font-weight: bold;
}

.DivSimulationLeftSecond {
    width: 20vmax;
    height: 15vmax;
    background-color: #A3CCE0;
    border: 1px solid black;
    float: left;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 0.5rem 1rem 1rem;
    margin-bottom: 1.5rem;
    text-underline: none;
    text-decoration-line: none;
    color: #FFFFFF;
    font-size: 2.5vmax;
    text-align: center;
    font-weight: bold;
}

.DivSimulationRight {
    width: 20vmax;
    height: 15vmax;
    background-color: #19364D;
    border: 1px solid black;
    float: right;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 0.5rem 1rem 1rem;
    margin-bottom: 1.5rem;
    text-underline: none;
    text-decoration-line: none;
    color: #FFFFFF;
    font-size: 2.5vmax;
    text-align: center;
    font-weight: bold;
}

.DivSimulationRightSecond {
    width: 20vmax;
    height: 15vmax;
    background-color: #2E8A43;
    border: 1px solid black;
    float: right;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 0.5rem 1rem 1rem;
    margin-bottom: 1.5rem;
    text-underline: none;
    text-decoration-line: none;
    color: #FFFFFF;
    font-size: 2.5vmax;
    text-align: center;
    font-weight: bold;
}

.DivFade {
    width: 70%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 2%;
    background-color: #FFFFFF;
    transition: width 1s;
    padding: 2%;
}

.DivFadeWider {
    width: 80%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 2%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 2px -2px #BF4042;
    transition: width 1s;
    padding: 2%
}

.DivDetails {
    margin-top: 20%;
    margin-bottom: 2%;
    border-top: 1px solid #1C3752;
    border-bottom: 1px solid #1C3752;
    background-color: #F7F8FC;
    box-shadow: 1px 1px 1px 1px #BF4042;
}

.DivDetails2 {
    margin-top: 2%;
    margin-bottom: 2%;
    border-top: 1px solid #1C3752;
    border-bottom: 1px solid #1C3752;
    background-color: #F7F8FC;
    box-shadow: 1px 1px 1px 1px #BF4042;
}

.DivDetailsUl {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    color: #1C3752;
    text-align: left;
}

.DivDetailsUl2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    color: #1C3752;
    text-align: left;
}

.LiStyle {
    list-style-type: none;
    font-weight: bold;
}

.DivImageFooter {
    width: 80vmax;
    margin-left: auto;
    margin-right: auto;
}

.ImageFooter {
    width: 80vmax;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.DivImageHome {
    width: 80vmax;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background: url('../img/slider_image_4.jpg') no-repeat center center;
    background-size: 100% 100%;
    padding: 5%;
}

.DivInnerImage {
    width: 70%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 30%;
    background-color: #fff;
    border: 1px solid #BF4042;
    box-shadow: 0px 4px 2px -2px #1C3752;
    opacity: 80%;
}

.PInnerImage {
    color: #BF4042;
    font-weight: bolder;
    text-align: justify;
    margin: 5%;
}

.DivImageHome2 {
    width: 80vmax;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background: url('../img/slider_ubezpieczenia.jpg') no-repeat center center;
    background-size: 100% 100%;
    padding: 5%;
}

.PHappyCustomers {
    color: #1C3752;
    font-weight: bolder;
    font-size: 3em;
    text-decoration: underline #BF4042;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: -5%;
}

.DivPointsAboutUs {
    position: relative;
    padding-top: 5%;
    padding-bottom: 33%;
    width: 90%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin: auto;
}

.DivAboutUsLeftHidden {
    width: 25%;
    float: left;
    margin-left: 0;
    background-color: #fff;
    color: #1C3752;
    text-align: center;
    padding: 5%;
    -webkit-box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    border: 1px solid #1C3752;
    opacity: 0%;
}

.DivAboutUsLeft {
    width: 25%;
    float: left;
    margin-left: 0;
    background-color: #fff;
    color: #1C3752;
    text-align: center;
    padding: 5%;
    -webkit-box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    border: 1px solid #1C3752;
    transition: 3s;
    opacity: 100%;
}

.DivAboutUsCenterHidden {
    width: 25%;
    float: left;
    margin-left: 12%;
    padding: 0 10%;
    background-color: #fff;
    color: #1C3752;
    text-align: center;
    padding: 5%;
    -webkit-box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    border: 1px solid #1C3752;
    opacity: 0%;
}

.DivAboutUsCenter {
    width: 25%;
    float: left;
    margin-left: 12%;
    padding: 0 10%;
    background-color: #fff;
    color: #1C3752;
    text-align: center;
    padding: 5%;
    -webkit-box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    border: 1px solid #1C3752;
    transition: 6s;
    opacity: 100%;
}

.DivAboutUsRightHidden {
    width: 25%;
    float: right;
    padding: 0 10%;
    background-color: #fff;
    color: #1C3752;
    text-align: center;
    padding: 5%;
    -webkit-box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    border: 1px solid #1C3752;
    opacity: 0%;
}

.DivAboutUsRight {
    width: 25%;
    float: right;
    padding: 0 10%;
    background-color: #fff;
    color: #1C3752;
    text-align: center;
    padding: 5%;
    -webkit-box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 2px 5px 16px 0px #1C3752, 5px 5px 15px 5px rgba(0,0,0,0);
    border: 1px solid #1C3752;
    transition: 9s;
    opacity: 100%;
}

.PAboutUsTitle {
    color: #1C3752;
    font-size: 1.5em;
}

.PAboutUsValue {
    color: #BF4042;
    font-size: 2.5em;
    font-weight: bolder;
}

.H3Details {
    text-align: center;
    font-weight: bold;
    color: #BF4042;
    margin-top: 2%;
    margin-bottom: 2%;
}

.SpanDetails {
    color: #BF4042;
    font-weight: bolder;
    text-decoration: none;
}

.SpanDetails:hover {
    color: #BF4042;
    font-weight: bolder;
    text-decoration: none;
}

/* SLIDER */
.SliderMain {
    width: 960px;
    height: 340px;
    margin: auto;
    margin-top: 5%;
    box-shadow: 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.ImgStyleVisible {
    transition: 1s;
    opacity: 100%;
    position: absolute;
}

.ImgStyleHidden {
    transition: 2s;
    opacity: 0%;
    position: absolute;
}

