.DivContactForm {
    padding: 2%;
    margin-bottom: 2vmax;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    -moz-box-shadow:    0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    box-shadow:         0px 4px 10px 0px rgba(84, 75, 61, 0.56);
}

.LabelTitle {
    color: #1C3752;
    font-size: 2vmax;
}

.H3Details {
    text-align: center;
    font-weight: bold;
    color: #BF4042;
    margin-top: 2%;
    margin-bottom: 2%;
}

.SpanH3 {
    vertical-align: middle;
    margin-left: 2vmax;
}

.ImgH3 {
    width: 15vmax;
    height: 8vmax;
}

.SpanColor {
    color: #BF4042;
    font-weight: bold;
}

.DivLeft {
    float: left;
}

.DivRight {
    float: right;
}

.DivButtons {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 5vmax;
    padding-top: 2vmax;
}

.DivReturnListAgencies {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 1vmax;
    padding-top: 1vmax;
}

.DivCaptcha {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 1vmax;
    padding-top: 1vmax;
}

.pCaptcha {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 1vmax;
}

.Image {
    width: 6vmax;
    height: 4vmax;
    margin-right: 1vmax;
}

.FormControl {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.FormControlValid {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid green;
    box-shadow: 0 0 0 0;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.FormControlInvalid {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #C24754;
    box-shadow: 0 0 10px 1px #C24754;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.FormControlInfoSend {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FCFCF7;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ErrorParagraph {
    color: #C24754;
    margin-bottom: 1vmax;
    margin-top: 0.4vmax;
}